<div>

    <st-form model="item" state="error" submit="saveItem(item)">

        <select style="width: 200px;" ng-model="current.language" class="form-control pull-right"
                ng-options="language.alias as language.title for language in languages"></select>

        <h2 class="font-light m-b-xs">
        {{'Edit'|translate}}
    </h2>


    <div class="hpanel" bz-loading-container="loading">
        <div class="panel-body no-bottom-border">

            <st-form-element label="{{'Title'|translate}}" field="title">

                <input id="title" bz-localizable="item.title" class="form-control input-lg" name="title" type="text" required
                       ng-model="item.translates.title[current.language]"/>

            </st-form-element>


            <st-form-element label="{{'Иконка'|translate}}" field="icon">

                <div class="radio">
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="grave" />

                        <span class="all-icons grave"></span> Могила
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="money" />

                        <span class="all-icons money"></span> Деньги
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="question" />

                        <span class="all-icons question"></span> Вопрос
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="synagogues" />

                        <span class="all-icons synagogues"></span> Синагога
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="ukraine" />

                        <span class="all-icons ukraine"></span> Украина
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="weather" />

                        <span class="all-icons weather"></span> Погода
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon7" />

                        <span class="all-icons icon7"></span> Icon7
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon8" />

                        <span class="all-icons icon8"></span> Icon8
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon9" />

                        <span class="all-icons icon9"></span> Icon9
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon10" />

                        <span class="all-icons icon10"></span> Icon10
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon11" />

                        <span class="all-icons icon11"></span> Icon11
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon12" />

                        <span class="all-icons icon12"></span> Icon12
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon13" />

                        <span class="all-icons icon13"></span> Icon13
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon14" />

                        <span class="all-icons icon14"></span> Icon14
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon15" />

                        <span class="all-icons icon15"></span> Icon15
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon16" />

                        <span class="all-icons icon16"></span> Icon16
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon17" />

                        <span class="all-icons icon17"></span> Icon17
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon18" />

                        <span class="all-icons icon18"></span> Icon18
                    </label>
                    <label>
                        <input icheck type="radio" ng-model="item.icon" value="icon19" />

                        <span class="all-icons icon19"></span> Icon19
                    </label>
                </div>

            </st-form-element>
        </div>

        <div class="panel-footer">

            <a href="" class="btn btn-danger btn-outline pull-right" st-confirm="remove(child)"
               message-title="'Удаление...'"
               message="'Вы действительно хотите удалить?'">
                {{'Delete'| translate}}
            </a>

            <button class="btn btn-primary" type="submit">
                {{'Save'| translate}}
            </button>

            <a href="" class="btn btn-default" ng-click="cancel()">
                {{'Cancel'| translate}}
            </a>

        </div>
    </div>

    </st-form>
</div>